################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Aliera.MemberDataAccess/bin
/Aliera.MemberDataAccess/obj
/Aliera.MemberDataAccess/Aliera.MemberDataAccess.csproj.user
